<div class="server-query-container">
  <div  class="content-container">
    <a [href]="('steam://connect/' + serverQuery.hostname + ':' + serverQuery.srcdServers[0].port) | safeUrl" class="overlay">
      <span class="text">Join</span>
      <i class="fas fa-sign-in-alt mar-5"></i>
    </a>
    <div class="fields" [class.inversed]="inversed">
      <span class="title field" [class.inversed]="inversed"><span class="dot" [class.online]="serverData"></span>{{serverQuery ? serverQuery.name : 'Unknown Server'}}</span>
      <span class="map field" [class.inversed]="inversed"><i class="fas fa-globe-americas"></i>{{serverData ? serverData.map : 'Unknown Map'}}</span>
      <span class="players field" [class.inversed]="inversed"><i class="fas fa-users"></i>{{serverData ? serverData.players : 0}} / {{serverData ? serverData.max : 0}}</span>
    </div>
  </div>
</div>
