:host {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;

  .sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    .section  {
      display: flex;
      align-items: center;

      &.logo {
        width: 10%;
        display: flex;
        justify-content: center;
        img {
          height: 65px;
        }
      }

      &.nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
        .menu-item {

          font-size: 18px;
          font-family: russo_oneregular;
          outline: none;
          text-decoration: none;
          cursor: pointer;

          &.selected {
            padding-bottom: 4px;
            border-bottom: 2px solid;
            border-image: linear-gradient(-270deg, #ff0000 0%, #7b0c0c 100%) 1;
            background: linear-gradient(-270deg, #ff0000 0%, #7b0c0c 100%);

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover {
              //border-bottom: 1px #861a1a solid;
            }
          }

          &:hover {
            color: #861a1a;
          }
        }
      }

      &.steamlogin {
        width: 20%;

        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1115px) {
  .header {
    .sections {
      .section {
        width: 100%;
        justify-content: center;
        &.query {
          display: none;
        }
      }
    }
  }
}
