<div class="header">
  <div class="sections">
    <div class="section logo">
      <img src="../../../assets/images/logo.png" alt="Logo">
    </div>
    <div class="section nav">
      <a routerLink="/home" routerLinkActive="selected" class="menu-item">Home</a>
      <a routerLink="/leaderboard" routerLinkActive="selected" class="menu-item">Leaderboard</a>
      <a routerLink="/servers" routerLinkActive="selected" class="menu-item">Servers</a>
      <a href="https://forums.snipetrain.tf" class="menu-item">Forums</a>
      <a href="https://sourcebans.snipetrain.tf" class="menu-item">Sourcebans</a>
    </div>
    <div class="section steamlogin">
      <img src="../../../assets/images/steam_login_01.png" alt="steam_login">
    </div>
  </div>
</div>
