
<div class="leaderboard-container">
  <div class="title-line">
    <span class="title">Leaderboard</span>
  </div>
  <div *ngIf="!players && leaderboardLoading" class="loader-container">
    <app-spinner [size]="75"></app-spinner>
  </div>
  <div class="grid">
    <div *ngIf="players" class="leaderboard">
      <nb-card class="card">
        <nb-card-body>
          <div class="header">
            <span class="title">Stats</span>
            <app-spinner *ngIf="leaderboardLoading" [size]="30"></app-spinner>
          </div>
          <overlay-scrollbars #scrollel [options]="scrollbarOptions" class="list">
            <div #list class="list-container">
              <nb-list *ngIf="players.length > 0; else noPlayers">
                <nb-list-item *ngFor="let player of players">
                  <div class="userprofile-container section">
                    <span
                      class="position"
                      [class.first]="player.rank === '1'"
                      [class.second]="player.rank === '2'"
                      [class.third]="player.rank === '3'">
                      <span *ngIf="player.rank !== '1' && player.rank !== '2' && player.rank !== '3'">{{player.rank}}.</span>
                      <div *ngIf="player.rank === '1' || player.rank === '2' || player.rank === '3'" class="podium">
                        <i  class="fas fa-trophy"></i>
                        <div [ngSwitch]="player.rank">
                          <span *ngSwitchCase="'1'">1st</span>
                          <span *ngSwitchCase="'2'">2nd</span>
                          <span *ngSwitchCase="'3'">3rd</span>
                        </div>
                      </div>
                    </span>
                    <div class="flag-container">
                      <span [className]="getCountryClassName(player.cc)"></span>
                    </div>
                    <nb-user size="medium"
                      [name]="player.name"
                      [title]="player.skill + ' Skill Points'"
                      [picture]="player.avatar">
                    </nb-user>
                  </div>
                  <div *ngIf="getDisplayStats(player) as stats" class="stats-container section">
                    <div class="kdr-container container">
                      <span class="kdr">
                        <i class="fas fa-crosshairs"></i>
                        {{stats.kdr}}
                        <span class="label">KDR</span>
                      </span>
                      <span class="desc">
                        <span class="highlight">{{stats.kills}}</span> Kills / <span class="highlight">{{stats.deaths}}</span> Deaths
                      </span>
                    </div>
                    <div class="kpm-container container">
                      <span class="kpm">
                        <i class="fas fa-hourglass-end"></i>
                        {{stats.kpm}}
                        <span class="label">KPM</span>
                      </span>
                      <span class="desc">
                        <span class="highlight">{{stats.kills}}</span> Kills / <span class="highlight">{{stats.minutesPlayed.toFixed()}}</span> Mins
                      </span>
                    </div>
                    <div class="hours-container container">
                      <span class="hours">
                        <i class="far fa-clock"></i>
                        {{stats.hoursPlayed}}
                        <span class="label">HRS</span>
                      </span>
                      <span class="desc">
                        Connected <span class="highlight">{{stats.played}}</span> times
                      </span>
                    </div>
                  </div>
                  <div class="actions-container section">
                    <i (click)="onSteamCopy(player)" class="far fa-copy"></i>
                  </div>
                </nb-list-item>
              </nb-list>
              <ng-template #noPlayers>
                <div class="no-result-container">
                  <span>No results found...</span>
                </div>
              </ng-template>
            </div>
          </overlay-scrollbars>
        </nb-card-body>
      </nb-card>
    </div>
    <div *ngIf="players" class="filters">
      <nb-card class="card">
        <nb-card-body>
          <div class="header">
            <span class="title">Search</span>
            <app-spinner *ngIf="filtersLoading" [size]="30"></app-spinner>
          </div>
          <div class="search-container">
            <input [(ngModel)]="searchString" (keyup)="debouncedUpdateLeaderboard()" type="text" nbInput fullWidth shape="semi-round" placeholder="Search: Name, SteamId">
          </div>
        </nb-card-body>
      </nb-card>
      <iframe src="https://discordapp.com/widget?id=549306699308204040&theme=dark" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
  </div>
</div>

