.leaderboard-container {
  .title-line {
    font-size: 24px;
    font-family: russo_oneregular;
    margin-bottom: 25px;
  }
  .grid {
    display: flex;
    justify-content: space-between;

    .leaderboard {
      width: 75%;
      margin-right: 20px;
    }

    .card {
      box-shadow: 0 0.5rem 1rem 0 rgba(78, 19, 19, 0.171);
    }

    .list {
      overflow: auto;
      scrollbar-width: none;
      max-height: 500px;
    }

    .filters {
      width: 25%;
    }
  }
}
