.leaderboard-container {
  .title-line {
    font-size: 24px;
    font-family: russo_oneregular;
    margin-bottom: 25px;
    .title {
      margin-right: 15px;
    }
  }
  .loader-container {
    display:flex;
    justify-content: center;
    margin-top: 100px;
  }
  .grid {
    display: flex;
    justify-content: space-between;

    .leaderboard {
      width: 75%;
      margin-right: 20px;
    }

    .card {
      box-shadow: 0 0.5rem 1rem 0 rgba(78, 19, 19, 0.171);

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 35px;

        .title {
          font-size: 16px;
          font-family: russo_oneregular;
        }
      }


      .list {
        overflow: auto;
        max-height: 600px;
        margin-top: 15px;

        .list-container {
          display: flex;
          justify-content: space-between;

          .section {
            padding: 5px;
            height: 100%;
          }

          .userprofile-container {
            display: flex;
            align-items: center;
            width: 30%;

            .flag-container {
              max-width: 24px;
            }

            .position {
              margin-right: 10px;
              opacity: 0.8;
              font-family: source_sans_proregular;


              &.first {
                color: #DAA520;
                font-weight: bolder;
                opacity: 1;
              }
              &.second {
                color: #C0C0C0;
                font-weight: bolder;
                opacity: 1;
              }
              &.third {
                color: #8C7853;
                font-weight: bold;
                opacity: 1;
              }

              .podium {
                display: flex;
                flex-direction: column;
              }
            }
          }

          .stats-container {
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            i {
              margin-right: 5px;
            }

            .container {
              display: flex;
              flex-direction: column;
              .label {
                color: #50575f;
              }

              .desc {
                font-size: 12px;
                opacity: 0.5;
                text-align: center;
                .highlight {
                  opacity: 1;
                }
              }
            }

          }

          .actions-container {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              font-size: 18px;
              cursor: pointer;
              padding: 10px;
              border-radius: 10px;

              &:hover {
                background-color: #ffffff13;
              }
            }
          }
        }
      }


    }


    .filters {
      width: 25%;
      display:flex;
      flex-direction: column;
      max-height: 682px;

      iframe {
        height: 100%;
      }
    }
  }
}
