
<div class="leaderboard-container">
  <div class="title-line">
    <span class="title">Leaderboard</span>
  </div>
  <div class="grid">
    <div *ngIf="players" class="leaderboard">
      <nb-card class="card">
        <nb-card-body>
          <div class="list">
            <nb-list
            nbInfiniteList
            listenWindowScroll
            [threshold]="500"
            (bottomThreshold)="loadMore()">
              <nb-list-item *ngFor="let player of players">
                <nb-user size="medium"
                  [name]="player.name"
                  [title]="player.skill"
                  [picture]="player.avatar">
                </nb-user>
              </nb-list-item>
            </nb-list>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="filters">
      <nb-card class="card">
        <nb-card-body>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

