@import 'themes';
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: source_sans_proregular !important;
}

@font-face {
  font-family: 'russo_oneregular';
  src: url('./assets/fonts/russoone-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/russoone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_proregular';
  src: url('./assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.nb-theme-custom-dark nb-list-item:first-child {
  border-top: none !important;
}

.nb-theme-custom-dark nb-list-item {
  border-bottom: 1px solid #20202088 !important;
}

.nb-theme-custom-dark nb-list-item:last-child {
  border-bottom: none !important;
}

.nb-theme-custom-dark nb-user.size-medium .user-name {
  font-family: source_sans_proregular !important;
}

.nb-theme-custom-dark nb-card {
  border: 1px solid !important;
  border-radius: 5px;
  border-image: linear-gradient(-270deg, #ff000030 0%, #7b0c0c38 100%) 1 !important;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(78, 19, 19, 0.24);
}

nb-layout-column {
  flex: 0.7 0 !important;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1115px) {
  nb-layout-column {
    flex: 1 !important;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.input-full-width::placeholder {
  color: #ffffff91 !important;
}

.nb-theme-custom-dark [nbInput].status-basic:focus {
  background-color: #202020;
  border-color: rgb(78, 19, 19) !important;
}

.nb-theme-custom-dark nb-menu .menu-item a:hover {
  color: rgba(255, 255, 255, 0.452) !important;
}

.servers-container {
  .nb-theme-custom-dark a {
    color: #820103 !important;
  }
}
