@import 'themes';
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: source_sans_proregular !important;
}

@font-face {
  font-family: 'russo_oneregular';
  src: url('./assets/fonts/russoone-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/russoone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_proregular';
  src: url('./assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.nb-theme-custom-dark nb-list-item:first-child {
  border-top: none !important;
}

.nb-theme-custom-dark nb-list-item {
  border-bottom: 1px solid #20202088 !important;
}

.nb-theme-custom-dark nb-list-item:last-child {
  border-bottom: none !important;
}

.nb-theme-custom-dark nb-user.size-medium .user-name {
  font-family: source_sans_proregular !important;
}

.input-full-width::placeholder {
  color: #ffffff91 !important;
}
